{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<div class="col-md-12">
    <h1>Public albums</h1>
</div>
{% for album in albums %}
<div class="card mb-3" style="max-width: 95rem;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if album.post_set.first.image %}
        {% thumbnail album.post_set.first.image "235x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% empty %}
            <p>No image</p>
        {% endthumbnail %}
        {% else %}
        <img src="{% static 'cover.jpg' %}" class="img-fluid rounded-start" 
        alt="Album cover" style="width:235px; height:200px;">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{ album.name }} album</h4>
          <p class="card-text">{{ album.description }}</p>
          <a href="{% url 'gallery:album' album.id %}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}